@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: rgb(26, 24, 23);
    color: white;
    margin: 1vh;
}

.lema{
    text-align: center;
    font-size: 3em;
    color: rgb(255, 255, 255);
    user-select: none;
    
}

.developers{
    font-size: 1.3em;
    text-align: center;
    opacity: 0.8;
    user-select: none;
}