@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: rgb(26, 24, 23);
    color: white;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

.developers{
    font-size: 1.3em;
    text-align: center;
    opacity: 0.8;
    user-select: none;
    padding-bottom: 5vh;
}

#menu h3{
    display: inline;
    justify-content: space-between;
    font-size: 1.5vw;
    margin: 2.5em;
    background-color:#292626;
    transition: 0.3s;
}

#menu a {
    background-color: #292626;
}

#preguntas{
    width: 65vw;
}

#repositorio{
    width: 35vw;
}

#repositorio h2{
    font-size: 1.2vw;
}

#pie{
    display: flex;
    padding-bottom: 10vh;
}


#nombres{
    display: flex;
}

#titles{
    display: flex;
    justify-content:space-between;
}

#menu a:hover h3{
    font-size: 2vw;
    transition: 0.3s;
    padding: 3vh;
    opacity: 0.2;

}

#menu{
    user-select: none;
    background-color: #292626 ;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: space-between;
    text-align: center;
}

#menu img{
    background-color: transparent;
}

.pf{
    margin-top: 5vh;
    font-size: 1.8vw;
    margin-bottom: 2vh;
    margin-left: 1em;
    margin-right: 1em;
}

.qes{
    margin-top: 3vh;
    margin-left: 2vh;
    font-size: 1.5vw;
    font-weight: lighter;
}

.res{
    margin-left: 2vh;

}

.git{
    font-size: 4vw;
    justify-content: center;
    padding-left: 12vw;
    
}

.fa-github:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.nombre{
    margin-left: 5vh;
}

.studyOpt{
    position: relative;
    top: -2.4vh;
    left: 6em;
    width: 1.3em;
    background-color: #292626;
}
.devOpt{
    position: relative;
    bottom: 3.3vh;
    left: 5em;
    width: 1.8em;
    background-color: #292626;
}
.ceiiOpt{
    position: relative;
    bottom: 2.7vh;
    left: 5.8em;
    width: 1.5em;
    background-color: #292626;
}
.precentrada {
  font-size: 1.6em;
  text-align: center;
  text-align: center;
  padding-bottom: 1vh;
  padding-left:5vh;
  padding-right:5vh;
  margin-top: 1.5vh;
}
.autorart {
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: -1.5vh;
  color: #c795ae;
  opacity: 1;
}
@media screen and (max-width: 800px){

    img{
        width: 70%;
    }

    .developers{
        font-size: 1em;
    }

    #menu h3{
    font-size: 5vw;
    margin: 2vh;
    display: block;
    }

    #menu{
    padding-top: 3vh;
    margin-bottom: 5vh;

}
    
    .qes{
        font-size: 1.5em;
                width: 90%;
}
    .res{
        margin: 0 auto;
        width: 85%;
    }

    .pf{
        margin: 0 auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align: center;
        font-size: 1.5em;
        width: 90%;
    }

    ul{
        font-size: 5vw;
        margin: 0 auto;

    }


    #accede{
        display: none;
    }

    #pie{
        display: block;
        width: 100vw;
                margin: 0 auto;

    }

    #preguntas{
        width: 100vw;
        margin: 0 auto;
    }

      #repositorio{
        display: block;
        width: 100vw;
                margin: 0 auto;

    }

    .nombre{
        margin-left: 0vh;
    }

    #nombres{
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 5vh;
    }


    #nombres h2{
        font-size: 1em;
        padding: 1vh;
        padding-top: 0.3vh;
    }

    .git{
        padding-top: 4vh;
        font-size: 3em;
        justify-content: center;
        padding-left: 0;
        text-align: center;
    }


    .studyOpt{
        display: none;
    }

    .devOpt{
        display: none;
    }
    .ceiiOpt{
        display: none;
    }

 #menu a:hover h3{
    font-size: 1.5vw;
    transition: 0s;
    background-color:#292626;
    display: block;

}

    .gits{
        padding-left: 2.8em;
        width: 100%;
        padding-bottom: 5vh;
    }

    #header-right{
        margin: 0 auto;
        width: 60%;
        margin: 5px;
    }


    #header-right img{
        width: 100%;
    }

    #header-right h3{
        font-size: 2.9vh;

    }




    #menu{
        width: 40%;
    }
    #header{
        flex-flow: row-reverse;
        display: flex;
    }


    
}
