@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --color-fondo:rgb(26, 24, 23);
    --color-menu: #292626;
    --color-scrollbar: rgba(212, 212, 212, 0.692); 
}


*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

::-webkit-scrollbar{
    width: 0.5vw;
}

::-webkit-scrollbar-thumb{
    border-radius: 1em;
    float: left;
    background-color: var(--color-scrollbar);
}

body {
    background-color: var(--color-fondo);
}

.ramos {
    width: 95%;
    display: grid;
    color: var(--color-fondo);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    margin: 3vh auto;
    grid-column-gap: 0.5vw;
    grid-row-gap: 1.3vw;
    grid-auto-flow: column;
}

.ramos-element {
    transition: 0.3s;
    background-color: var(--color-fondo);
    font-size: 1vw;
    text-align: center;
    width: 100%;
    height: 8.3vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.ramos-element:visited{
    color: black;
}


.ramos-element p{
    transition: 0.2s;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    text-align: center;
    right: 3em;
    margin: auto;
    width: 100%;
    padding: 1.5vh 3vw 1.5vh 3vw;
    /* border-radius: 1em; */
    visibility: hidden;
    font-weight: bolder;
}

.ramos-element:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 1em rgba(255,255,255,0.2);
}

.ramos-element:hover p{
    backdrop-filter: blur(1px);
    visibility:visible;
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    font-size: 3vh;
    font-weight: bold;
    grid-template-columns: 13% 1fr;
    grid-template-rows: 13% 1fr ;
}

.mallas {
    grid-row: 1/3;
    overflow-x: hidden;
}

.mallas > p{
    text-align:center;
    margin-top: 5vh;
}

.menu{
    transition: 0.3s;
    grid-row: 1/3;
    grid-column: 1;
    background-color: var(--color-menu);
    
}
.menu ul {
    list-style: none;
    height: 100vh;
    padding: 0;
}


.menu p {
    margin: 0;
    font-size: 1.8vh;
    font-weight: bold;
    padding: 2vh;
    padding-left: 0;
}


.menu li:hover {
    background-color: rgba(0,0,0,0.4);
}

#logo {
    padding: 0.5vw;
}
#logo img {
    overflow: hidden;
    border-collapse: collapse;
    background-color: transparent;
    width: 110%;
}

@media screen and (max-width: 800px){
    .ramos {
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow:row;

    }
}