@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --color-fondo:rgb(26, 24, 23);
    --color-menu: #292626;
    --color-scrollbar: rgba(212, 212, 212, 0.692); 
}


*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

::-webkit-scrollbar{
    width: 0.5vw;
}

::-webkit-scrollbar-thumb{
    border-radius: 1em;
    float: left;
    background-color: var(--color-scrollbar);
}

body {
    background-color: var(--color-fondo);
}

.ramos {
    width: 95%;
    display: grid;
    color: var(--color-fondo);
    grid-template-rows: repeat(6,1fr);
    margin: 3vh auto;
    grid-column-gap: 0.3vw;
    grid-row-gap: 0.9vw;
    grid-auto-flow: column;
}

.ramos-element {
    transition: 0.3s;
    background-color: var(--color-fondo);
    font-size: 1vw;
    text-align: center;
    width: 10   0%;
    height: 8vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.ramos-element:visited{
    color: black;
}


.ramos-element p{
    transition: 0.2s;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    text-align: center;
    right: 3em;
    margin: auto;
    width: 100%;
    padding: 1.5vh 3vw 1.5vh 3vw;
    /* border-radius: 1em; */
    visibility: hidden;
    font-weight: bolder;
}

.ramos-element:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 1em rgba(255,255,255,0.2);
}

.ramos-element:hover p{
    backdrop-filter: blur(1px);
    visibility:visible;
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 13% 1fr;
    grid-template-rows: 13% 1fr ;
}

.mallas {
    grid-row: 1/3;
    overflow-x: hidden;
}

.menu{
    transition: 0.3s;
    grid-row: 1/3;
    grid-column: 1;
    background-color: var(--color-menu);
    
}
.menu ul {
    padding-left: 0;
    margin: 0 auto;
    font-size: 0.6vw;
    list-style: none;
    
}

.menu li {
    padding: 2vw ;
    padding-left: 0.5vw;
}

#logo {
    padding: 1em;
}

.menu li:hover ,li:focus{
    background-color: rgba(0,0,0,0.4);
}

#logo img {
    border-collapse: collapse;
    background-color: transparent;
    width: 110%;
}