@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: rgb(26, 24, 23);
    color: white;
    margin: 0;
}

body {
    overflow: hidden;
}

.ramos {
    width: 70%;
    display: grid;
    color: rgb(22, 22, 22);
    grid-template-rows: repeat(6,1fr);
    margin: 0 auto 0 auto;
    grid-column-gap: 1vw;
    grid-row-gap: 0.5vw;
    grid-auto-flow: column;
}

.ramos-element {
    transition: 0.3s;
    background-color: rgb(26, 24, 23);
    font-size: 1vw;
    text-align: center;
    width: 100%;
    height: 4.3em;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.ramos-element:visited{
    color: black;
}


.ramos-element p{
    transition: 0.2s;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    text-align: center;
    right: 3em;
    margin: auto;
    width: 100%;
    padding: 1.5vh 3vw 1.5vh 3vw;
    /* border-radius: 1em; */
    visibility: hidden;
    font-weight: bolder;
}

.ramos-element:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 0.2em rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1em rgba(255,255,255,0.2);
}

.ramos-element:hover p{
    backdrop-filter: blur(1px);
    visibility:visible;
}
