@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 2em;
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: rgb(26, 24, 23);
    color: white;
}


.home{
    display: flex;
    flex-wrap: wrap;
}

div{
    flex: 1;
    padding: 25px;
    min-width: 250px;
}

div:last-child{
    flex: 2;
    padding: 25px;
}

h1{
    text-align: center;
}

#contenido{
    text-align: center;
    float: inline-end;
}

p{
    line-height : 24px;
}

#menu{
    float: left;
    margin-right: -30%;
}

img{
    padding: 0px 0px 0px 0px;
    height: auto;
}

#menu ul{
    background: #001;
    list-style-type: none;
    position: relative;
    margin: 0px;
    padding: 0PX;
    width: 150px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

#menu ul li a {
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 20px;
}

#menu ul li a:hover {
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}

#devusach{
    position:absolute;
    left: -100%;
    right: -60%;
    bottom: 85%;
    margin: auto;
}

#lengc{
    position:absolute;
    left: -50%;
    right: -125%;
    bottom: 87%;
    margin: auto;
}

#titulo_menu{
    color:gold;
    padding: 10px 10px 10px 80px;
}